<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to awesome site, <%= @user_name %></h1>
    <p>
      Your account has been created successfully with email: <%= @user_email %>.<br>
    </p>
    <p>
      Please follow the instructions sent to you in a separate email to Reset your password.
    </p>
    <p>Thanks you!</p>
  </body>
</html>