
<div class="row">
  <div class="col-sm-12">
    <%= image_tag("sun-rising.png", class: "full_width") %>
  </div>

  <div class="col-sm-10 inner-div">
  	<h2>We are Maropost</h2>
  	<h6>We make the world's best marketing and sales platforms</h6>
  	<div>
  		<p>Maropost is the leading global provider of on-demand marketing, sales, commerce, and infrastructure solutions. We offer the world’s best marketing and sales cloud platforms combined with industry leading customer support and client success.</p>
  	</div>

  	<p>Maropost was founded in 2011 by CEO and Chairman Ross Andrew Paquette. We are headquartered in Toronto, Canada, with offices in New York, USA, London, U.K., and Chandigarh, India.</p>

  	<p>Maropost is the fastest growing company in Toronto and among the fastest growing companies in North America. In 2016, Maropost was ranked 4th in Deloitte's Canadian Technology Fast 50, 7th in the annual PROFIT 500 of Canada's fastest- growing companies, and 37th in the North America-wide Deloitte Fast 500.</p>
  </div>

  <div class="col-sm-10 prod-desc">
  	<h2 class="prod-header">Maropost Product Family</h2>

  	<div class="product-box col-sm-6">
  		<h3>Maropost marketing cloud</h3>
  		<p>Maropost Marketing Cloud turns prospects into clients and leads into conversions by ensuring delivery of targeted messaging to the right contact at the right time.
From web, to mobile, to social, and across email, SMS, and digital, our Marketing Cloud offers the industry’s most advanced personalization and automation features – all to make your life easier and to increase your marketing ROI.
With Maropost Marketing Cloud, a single marketer can drive results previously only attainable by large teams leaning on multiple vendors.</p>
  	</div>

  	<div class="product-box col-sm-6">
  		<h3>Maropost sales cloud</h3>
  		<p>Maropost Sales Cloud is the all-in-one platform for your sales, customer service, and commerce departments.
Our Sales Cloud was built from the ground up to offer combined insight and complete integration for a 360 business view. With our first-class customer support, we’ve built the last sales platform you’ll ever use.
And the best part? You can choose and customize what features you want. Because the challenges your business is facing are unique, and you need a tailored solution for maximum success.</p>
  	</div>
  </div>
</div>

