<div class="row">
  <div class="col-sm-3">
    <%= image_tag @image.image_url, size: "250x250" %>
    <br />

    <div class="image-name mt-10">
      <span><%= @image.name %></span>
    </div>

  </div>
</div>