<% cache(["gallery", @images.map(&:id), @images.maximum(:updated_at)], expires_in: 5.minutes) do %>
  <div class="row">
    <%= link_to "Upload or Import Image", new_image_path, class: "btn btn-primary mt-10 ml-15 pull-left" %>

    <div class="pull-right mt-10 count-div">
      <span class="red-font">Total image count:</span>
      <span class="count" style="display: none;">0</span>
      <div class="loader" title="2">
        <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
        <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
          <animateTransform attributeType="xml"
            attributeName="transform"
            type="rotate"
            from="0 25 25"
            to="360 25 25"
            dur="0.6s"
            repeatCount="indefinite"/>
          </path>
        </svg>
      </div>
    </div>

    <div style="clear: both;"></div>
    <br />
  	<% if @images.present? %>

      <%= render partial: "image", collection: @images, cached: true %>

      <div style="clear: both;"></div>
      <br />
  		<%= paginate @images %>
  	<% else %>
      <div>
    		<p> No images available</p>
      </div>
  	<% end %>
  </div>
<% end %>