<% cache(["gallery", @images.map(&:id), @images.maximum(:updated_at)], expires_in: 5.minutes) do %>
  <div class="row">
    <%= link_to "Upload or Import Image", new_image_path, class: "btn btn-primary mt-10 ml-15 pull-left" %>
    <div style="clear: both;"></div>
    <br />
  	<% if @images.present? %>

      <%= render partial: "image", collection: @images, cached: true %>

      <div style="clear: both;"></div>
      <br />
  		<%= paginate @images %>
  	<% else %>
      <div>
    		<p> No images available</p>
      </div>
  	<% end %>
  </div>
<% end %>